tmpclaude-*
*-workspace
# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph
.vscode/
# LangGraph
.langgraph_api/
.github/
